.Auction {
	display: flex;
	flex-direction: column;
	z-index: 10001;
	position: fixed;
	width: 20%;
	left: 40%;
}
.AuctionInteraction {
	display: flex;
	flex-direction: column;
}
.Auction input {
	padding: 4%;
	font-weight: bold;
}
.Auction p {
	font-weight: bolder;
	font-size: medium;
}
