.Field {
	/* background-color: rgb(226, 202, 158); */
	display: grid;
	grid-template-columns: 3vw 7vw repeat(9, 10vw) 7vw 3vw;
	grid-template-rows: 5vw 7vw repeat(9, 10vw) 7vw 5vw;
}
* {
	word-break: break-all;
}
@media screen and (min-width: 320px) {
	* {
		font-size: calc(5px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
		word-break: break-all;
	}
}
.Field div {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	text-align: center;
}
.cardData {
	display: flex;
	align-items: center;
	border-left: solid 1px;
	border-top: solid 1px;
}
.cardData .cardDataHomes {
	border-bottom: solid 1px;
}

.div1 .cardData,
.div11 .cardData {
	display: grid;
	grid-area: 1 / 1 / 2 / 2;
	border-left: 0px;
	border-top: 0px;
}
.div21 * {
	border: 0px;
}
/* .div11 {
	border-top: 1px solid;
}

.div31 {
	border-bottom: 1px solid;
} */

.div22 .cardData,
.div23 .cardData,
.div24 .cardData,
.div25 .cardData,
.div26 .cardData,
.div27 .cardData,
.div28 .cardData,
.div29 .cardData,
.div30 .cardData {
	transform: rotate(180deg);
	height: 100%;
	width: 10vw;
}
.div2 .cardData,
.div3 .cardData,
.div4 .cardData,
.div5 .cardData,
.div6 .cardData,
.div7 .cardData,
.div8 .cardData,
.div9 .cardData,
.div10 .cardData {
	height: 100%;
	width: 10vw;
}

.div12 .cardData,
.div13 .cardData,
.div14 .cardData,
.div15 .cardData,
.div16 .cardData,
.div17 .cardData,
.div18 .cardData,
.div19 .cardData,
.div20 .cardData {
	/* background-color: green; */
	transform: rotate(90deg);
	height: 100%;
	width: 10vw;
}
.div32 .cardData,
.div33 .cardData,
.div34 .cardData,
.div34 .cardData,
.div35 .cardData,
.div36 .cardData,
.div37 .cardData,
.div38 .cardData,
.div39 .cardData,
.div40 .cardData {
	/* background-color: rgb(208, 255, 0); */
	transform: rotate(-90deg);
	height: 100%;
	width: 10vw;
}
.div1 {
	grid-area: 12 / 12 / 14 / 14;
}
.div2 {
	grid-area: 12 / 11 / 14 / 12;
}
.div3 {
	grid-area: 12 / 10 / 14 / 11;
}
.div4 {
	grid-area: 12 / 9 / 14 / 10;
}
.div5 {
	grid-area: 12 / 8 / 14 / 9;
}
.div6 {
	grid-area: 12 / 7 / 14 / 8;
}
.div7 {
	grid-area: 12 / 6 / 14 / 7;
}
.div8 {
	grid-area: 12 / 5 / 14 / 6;
}
.div9 {
	grid-area: 12 / 4 / 14 / 5;
}
.div10 {
	grid-area: 12 / 3 / 14 / 4;
}
.div11 {
	grid-area: 12 / 1 / 14 / 3;
}
.div12 {
	grid-area: 11 / 1 / 12 / 3;
}
.div13 {
	grid-area: 10 / 1 / 11 / 3;
}
.div14 {
	grid-area: 9 / 1 / 10 / 3;
}
.div15 {
	grid-area: 8 / 1 / 9 / 3;
}
.div16 {
	grid-area: 7 / 1 / 8 / 3;
}
.div17 {
	grid-area: 6 / 1 / 7 / 3;
}
.div18 {
	grid-area: 5 / 1 / 6 / 3;
}
.div19 {
	grid-area: 4 / 1 / 5 / 3;
}
.div20 {
	grid-area: 3 / 1 / 4 / 3;
}
.div21 {
	grid-area: 1 / 1 / 3 / 3;
}
.div22 {
	grid-area: 1 / 3 / 3 / 4;
}
.div23 {
	grid-area: 1 / 4 / 3 / 5;
}
.div24 {
	grid-area: 1 / 5 / 3 / 6;
}
.div25 {
	grid-area: 1 / 6 / 3 / 7;
}
.div26 {
	grid-area: 1 / 7 / 3 / 8;
}
.div27 {
	grid-area: 1 / 8 / 3 / 9;
}
.div28 {
	grid-area: 1 / 9 / 3 / 10;
}
.div29 {
	grid-area: 1 / 10 / 3 / 11;
}
.div30 {
	grid-area: 1 / 11 / 3 / 12;
}
.div31 {
	grid-area: 1 / 12 / 3 / 14;
}
.div32 {
	grid-area: 3 / 12 / 4 / 14;
}
.div33 {
	grid-area: 4 / 12 / 5 / 14;
}
.div34 {
	grid-area: 5 / 12 / 6 / 14;
}
.div35 {
	grid-area: 6 / 12 / 7 / 14;
}
.div36 {
	grid-area: 7 / 12 / 8 / 14;
}
.div37 {
	grid-area: 8 / 12 / 9 / 14;
}
.div38 {
	grid-area: 9 / 12 / 10 / 14;
}
.div39 {
	grid-area: 10 / 12 / 11 / 14;
}
.div40 {
	grid-area: 11 / 12 / 12 / 14;
}
.div41 {
	grid-area: 1 / 3 / 3 / 3;
}
.DisplayModal {
	grid-area: 8/7/6/4;
	background-color: slategrey;
}

.PlayersList {
	grid-area: 4 / 11 / 8 / 7;
	background-color: saddlebrown;
	display: flex;
}
.PlayerCard {
	grid-area: 6/4/4/7;
	height: 100%;
	background-color: lightblue;
}
.PlayerCardButton {
	width: 100%;
	height: 100%;
	background-color: indigo;
}
