@import "Field.css";
@import "SpecificFields.css";
@import "Login.css";
@import "SearchBar.css";
@import "FieldCard.css";
@import "PlayersList.css";
@import "Trade.css";
@import "NewsFeed.css";
@import "Perspective.css";
@import "Ui.css";
@import "Auction.css";
html,
body {
	background-color: lightcoral;
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
button {
	background-color: #008cba; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 1px;
}
input {
	color: #008cba;
}
