.SearchBar {
	position: absolute;
	z-index: 1;
	margin-left: 33vw;
	width: 33vw;
	background-color: rgba(143, 188, 178, 0.226);
	height: auto;
	/* position: absolute; */
	/* margin: 0 auto; */
}
@media only screen and (max-width: 700px) {
	.SearchBar {
		margin-left: 10vw;
		width: 80vw;
	}
}
.SearchBar input {
	padding: 3%;
}
.SearchBarToggleOn {
	width: 100%;
	/* color: red; */
}
.SearchBarToggleOff {
	/* color: blue; */
	height: 10%;
	padding: 0%;
	width: 100%;
	opacity: 0.1;
}
.SearchBar .error {
	font-size: large;
	text-align: center;
	color: violet;
}
