.Trade {
	height: fit-content;
	background-color: blueviolet;
	color: whitesmoke;
}
.TradeButtonHighLighted {
	background-color: red;
}
.TradeButton {
	background-color: green;
}
@media only screen and (max-width: 900px) {
	.Trade {
		width: 50%;
		left: 25%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.TradeContainer {
	display: flex;
	text-align: center;
	flex-direction: column;
}
.Trade input {
	padding: 1%;
	font-weight: bold;
}
.OfferReceived {
	align-content: center;
	text-align: center;
}
